[submodule "STM32F2-Tetris"]
	path = STM32F2-Tetris
	url = https://github.com/denklewer/STM32F2-Tetris
[submodule "data-processing"]
	path = data-processing
	url = https://github.com/denklewer/data-processing
[submodule "Concurrent_labs"]
	path = Concurrent_labs
	url = https://github.com/denklewer/Concurrent_labs
[submodule "Gpu_concurrent_labs"]
	path = Gpu_concurrent_labs
	url = https://github.com/denklewer/Gpu_concurrent_labs
[submodule "ExpData"]
	path = ExpData
	url = https://github.com/denklewer/ExpData
